body {
    width: 960px;
    margin: 0 auto;
}

label {
    display: block;

    .inline-form & {
        display: inline-block;
    }
}

#console-output {
    background: #ddd;
    border: 1px dashed #999;
    border-radius: 3px;
    padding: 0.4em;
    margin: 1em 0.3em;
    font-family: monospace;
    white-space: pre;
}

#comment-parsers {
    $formWidth: 600px;
    $formInlineLabelWidth: $formWidth * 0.4;
    $formInlineInputWidth: $formWidth * 0.55;

    form {
        width: $formWidth;    
    }
    
    textarea {
        $lineHeight: 1.4em;

        line-height: $lineHeight;
        height: $lineHeight * 5;
        width: $formInlineLabelWidth + $formInlineInputWidth;
    }

    .form-field {
        margin-bottom: 1em;
    }

    .inline-form {
        label {
            width: $formInlineLabelWidth;
        }

        input, textarea, select {
            width: $formWidth * 0.55;

            &[type="checkbox"] {
                width: auto;
            }
        }
    }
    
}