<h2>{{=it.viewTitle}}</h2>

<form name="{{=it.consoleLogFormName}}" action="#">
    <div class="form-content">
        <div class="form-field inline-form">
            <label for="{{=it.placeHoldId}}">{{=it.placeHold}}</label>
            <input type="text" name="{{=it.placeHoldId}}" id="{{=it.placeHoldId}}" value="" placeholder="e.g. *" maxlength="1">
        </div>

        <div class="form-field inline-form">
            <label for="{{=it.commentLengthId}}">{{=it.commentLength}}</label>
            <input type="number" name="{{=it.commentLengthId}}" id="{{=it.commentLengthId}}" value="" placeholder="e.g. 60">
        </div>

        <div class="form-field inline-form">
            <label for="{{=it.prefixId}}">{{=it.prefix}}</label>
            <input type="text" name="{{=it.prefixId}}" id="{{=it.prefixId}}" value="" placeholder="e.g. console.log('">
        </div>

        <div class="form-field inline-form">
            <label for="{{=it.postfixId}}">{{=it.postfix}}</label>
            <input type="text" name="{{=it.postfixId}}" id="{{=it.postfixId}}" value="" placeholder="e.g. ');'">
        </div>

        <div class="form-field inline-form">
            <label for="{{=it.hasBorderId}}">{{=it.hasBorder}}</label>
            <input type="checkbox" name="{{=it.hasBorderId}}" id="{{=it.hasBorderId}}" checked>
        </div>

        <div class="form-field inline-form">
            <label for="{{=it.extraSpaceId}}">{{=it.extraSpace}}</label>
            <input type="checkbox" name="{{=it.extraSpaceId}}" id="{{=it.extraSpaceId}}" checked>
        </div>

        <div class="form-field inline-form">
            <label for="{{=it.fillSpaceId}}">{{=it.fillSpace}}</label>
            <input type="checkbox" name="{{=it.fillSpaceId}}" id="{{=it.fillSpaceId}}" checked>
        </div>

        <div class="form-field inline-form">
            <label for="{{=it.selectAlignId}}">{{=it.selectAlign}}</label>
            <select name="{{=it.selectAlignId}}" id="{{=it.selectAlignId}}">
                <option value="" disabled selected>-</option>
                {{ for (var key in it.selectAlignFields) { }}
                <option value="{{=key}}">{{=it.selectAlignFields[key]}}</option>
                {{ } }}
            </select>
        </div>
        <div class="form-field">
            <label for="{{=it.inputFieldId}}">{{=it.commentInputLabel}}</label>
            <textarea name="{{=it.inputFieldId}}" id="{{=it.inputFieldId}}"></textarea>
        </div>
    </div>
    <div class="form-navi">
        <input type="submit" value="{{=it.submitButton}}" id="{{=it.submitButtonId}}">
        <input type="button" id="{{=it.markAllButtonId}}" value="{{=it.markAllButton}}">
    </div>
</form>

<div id="{{=it.outputFieldId}}"></div>
