.table-of-contents {
    position: relative;
}

.table-of-contents .table-of-contents__copied:after {
    content: 'Copied to clipboard!';
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid #999;
    background: #fff;
    border-radius: 3px;
    padding: 3px 11px;
    font-size: 12px;
    display: block;
    opacity: 1;
  }
  
  .table-of-contents .table-of-contents__copied.hide-popup:after {
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -ms-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    opacity: 0;
  }