<h2>BDD Tickets</h2>

<h3>
    Settings
    <div class="btn-group pull-right">
        <a class="btn btn-sm pull-right"
           ng-class="{true: 'btn-primary', false: 'btn-danger'}[!options.showOptions]"
           ng-click="options.showOptions = !options.showOptions">
            {{!options.showOptions && 'Show' || 'Hide'}} settings
        </a>
    </div>
</h3>


<div ng-show="options.showOptions">


    <div class="form-group">
        <label>Steps</label>
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="bddTickets_steps_given">Given</label>
                <input type="text"
                       ng-model="options.fieldTypes[0]"
                       ng-blur="updateStepFieldsTypes()"
                       class="form-control"
                       id="bddTickets_steps_given"
                       placeholder="e.g. Given">
            </div>

            <div class="form-group">
                <label class="sr-only" for="bddTickets_steps_when">When</label>
                <input type="text"
                       ng-model="options.fieldTypes[1]"
                       ng-blur="updateStepFieldsTypes()"
                       class="form-control"
                       id="bddTickets_steps_when"
                       placeholder="e.g. When">
            </div>

            <div class="form-group">
                <label class="sr-only" for="bddTickets_steps_then">Then</label>
                <input type="text"
                       ng-model="options.fieldTypes[2]"
                       ng-blur="updateStepFieldsTypes()"
                       class="form-control"
                       id="bddTickets_steps_then"
                       placeholder="e.g. Then">
            </div>
        </form>
    </div>

    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox"
                   ng-model="options.spaceBetween"
                   ng-change="calculateOutput()">Additional empty line between steps
        </label>
    </div>

    <div class="form-group">
        <label for="bddTickets_andWrapper">Header wrap char (up to 3 chars, closing ones will be in reverse
            order)</label>
        <input type="text"
               ng-model="options.headerWrapper"
               ng-change="calculateOutput()"
               maxlength="3"
               class="form-control"
               placeholder="{{options.placeholder.headerWrapper}}"
               id="bddTickets_headerWrapper"/>
    </div>

    <div class="form-group">
        <label for="bddTickets_typeWrapper">Step name wrap char (up to 3 chars, closing ones will be in reverse
            order)</label>
        <input type="text"
               ng-model="options.typeWrapper"
               ng-change="calculateOutput()"
               maxlength="3"
               class="form-control"
               placeholder="{{options.placeholder.typeWrapper}}"
               id="bddTickets_typeWrapper"/>
    </div>

    <div class="form-group">
        <label for="bddTickets_andWrapper">"And" wrap char (up to 3 chars, closing ones will be in reverse
            order)</label>
        <input type="text"
               ng-model="options.andWrapper"
               ng-change="calculateOutput()"
               maxlength="3"
               class="form-control"
               placeholder="{{options.placeholder.andWrapper}}"
               id="bddTickets_andWrapper"/>
    </div>
</div>

<h3>BDD tickets description
    <div class="btn-group pull-right">
        <a class="btn btn-default btn-sm pull-right"
           ng-click="reset()">Clear form</a>
    </div>
</h3>

<div class="form-group">
    <label for="bddTickets_header">Header</label>
    <input type="text"
           ng-model="options.header"
           ng-change="calculateOutput()"
           class="form-control"
           id="bddTickets_header"/>
</div>


<label>Steps</label>
<div ng-repeat="(index, fieldType) in options.fieldTypes">

    <div class="row form-group" ng-repeat="givenField in options[fieldType].fields">
        <div class="col-md-11">
            <div class="input-group">
                <div class="input-group-addon"
                     ng-if="!$first">and
                </div>

                <div class="input-group-addon"
                     ng-if="$first">{{ options[fieldType].readableName }}
                </div>

                <input type="text"
                       ng-model="givenField.value"
                       ng-blur="updateFields(fieldType)"
                       class="form-control input-sm"
                       placeholder="{{options.fieldTypesPlaceholders[index]}}"
                       id="{{givenField.label}}">
            </div>
        </div>
        <div class="col-md-1 text-right">
            <a class="btn btn-danger btn-sm"
               ng-click="removeField(fieldType, givenField.label)">X</a>
        </div>
    </div>
    <div class="row form-group col-md-12">
        <input class="btn btn-default btn-sm"
               type="button"
               value='Add next "{{options[fieldType].readableName}}"'
               ng-click="addField(fieldType)">
    </div>
</div>


<output-field value="output"></output-field>
