<h2>Commit Parser</h2>

<h3>Basic Settings</h3>

<div class="form-group">
    <label for="commitParser_sections">Sections (use
        <code>{{options.sectionsSeparator}}</code> as separator)
    </label>
    <input type="text"
           ng-model="options.sectionsInput"
           ng-change="updateSections()"
           class="form-control"
           placeholder="{{options.placeholder.sections}}"
           id="commitParser_sections" />
</div>

<div class="form-group">
    <label for="commitParser_listChar">Char to begin each feature</label>
    <input type="text"
           ng-model="options.listChar"
           ng-change="calculateOutput()"
           ng-maxlength="1"
           class="form-control"
           placeholder="{{options.placeholder.listChar}}"
           id="commitParser_listChar" />
</div>

<div class="form-group">
    <label class="checkbox-inline">
        <input type="checkbox"
               ng-model="options.sectionCaseInsensitive"
               ng-change="updateSections()"
               id="commitParser_sectionCaseInsensitive">Case-insensitive section names
    </label>

</div>

<div class="form-group">
    <label for="commitParser_input">Commit squash messages</label>
    <textarea ng-model="options.input"
        ng-change="calculateOutput()"
        uib-tooltip-template="'commitParser_inputTooltip.html'"
        tooltip-placement="top"
        id="commitParser_input"
        class="form-control"
        rows="10">
    </textarea>
</div>

<div class="form-group">
    <input class="btn btn-default"
        type="button"
        value="Reset settings"
        ng-click="reset()">
    <input class="btn btn-default"
        type="button"
        value="Select output"
        ng-click="select()">
</div>

<div class="form-group">
    <pre id="commitParser_output">{{output}}</pre>
</div>

<script type="text/ng-template" id="commitParser_inputTooltip.html">
    <div id="commitParser_inputPlaceholder" class="text-left">{{options.placeholder.input}}</div>
</script>